body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
}

.hero {
  background: url("images/hero.jpg") center/cover no-repeat;
  height: 100vh;
  position: relative;
}

.overlay {
  background: rgba(0,0,0,0.7);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  font-size: 60px;
  color: crimson;
}

.btn {
  background: crimson;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 20px;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.dark {
  background: #121212;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card, .rank {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
}

.rank ul {
  list-style: none;
  padding: 0;
}

.gallery {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 300px;
  border-radius: 10px;
}

footer {
  background: black;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

